@font-face {
  font-family: 'Capture-it';
  src: url('http://static.incompl.com/awful/fonts/Capture_it.ttf') format('truetype');
}
body {
	font-family: Arial, Helvetica, Sans-Serif;
	font-size: 20px;
	background: #EDEDED;
	zoom:1;
	font-family: Museo, georgia, serif;
}
#flexContainer {
  /* Specifies that the contents will be laid out according to Flexbox rules. */
	display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
        display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
        display: -ms-flexbox;      /* TWEENER - IE 10 */
        display: -webkit-flex;     /* NEW - Chrome */
        display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
        /*justify-content: center;*/
        flex-flow:row;/*从左到右排列*/
} 
header	{
	background: #707070;
	min-height: 100px;
	margin: 3px;
	padding: 3px;
	font-family: Capture-it;
	font-size: 8rem;
	display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
        display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
        display: -ms-flexbox;      /* TWEENER - IE 10 */
        display: -webkit-flex;     /* NEW - Chrome */
        display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
        /*justify-content: center;*/
        flex-flow:row;/*从左到右排列*/
}
nav {
	background: #C9BFBF;
	/* Shorthand property specifying flex-grow, flex-shrink, and flex-basis. */
	-webkit-box-flex: 1;      /* OLD - iOS 6-, Safari 3.1-6 */
        -moz-box-flex: 1;         /* OLD - Firefox 19- */
        width: 15%;               /* For old syntax, otherwise collapses. */
        -webkit-flex: 1;          /* Chrome */
        -ms-flex: 1;              /* IE 10 */
        flex: 1; 
	min-width: 150px;
	margin: 3px;
	padding: 3px;
}
aside {
	background: #C9C9C9;
	/* Shorthand property specifying flex-grow, flex-shrink, and flex-basis. */
	-webkit-box-flex: 1;      /* OLD - iOS 6-, Safari 3.1-6 */
        -moz-box-flex: 1;         /* OLD - Firefox 19- */
        width: 15%;               /* For old syntax, otherwise collapses. */
        -webkit-flex: 1;          /* Chrome */
        -ms-flex: 1;              /* IE 10 */
        flex: 1; 
	min-width: 150px;
	padding: 3px;
	margin: 3px;
}
#content {
	min-height: 800px;
	background: #ABABAB;
	/* Shorthand property specifying flex-grow, flex-shrink, and flex-basis. */
	-webkit-box-flex: 1;      /* OLD - iOS 6-, Safari 3.1-6 */
        -moz-box-flex: 1;         /* OLD - Firefox 19- */
        width: 70%;               /* For old syntax, otherwise collapses. */
        -webkit-flex: 1;          /* Chrome */
        -ms-flex: 1;              /* IE 10 */
        flex: 1; 
	margin: 3px;
	padding: 3px;
}
footer	{
	background: #707070;
	min-height: 50px;
	margin: 3px;
	padding: 3px;
	text-align:center;
}
/* When the page is resized, use the styles below */
@media all and (max-width: 640px) {
	#flexContainer {
		/* Shorthand property specifying flex-direction and flex-wrap */
		-webkit-flex-flow: column wrap;
		-moz-flex-flow: column wrap;
		-webkit-flex-flow: column wrap;
		-ms-flex-flow: column wrap;
		flex-flow: column wrap;
	}
	
	header {
		min-height: 75px;
		width:100%;
		max-width:100%;
		min-width:100%;
	}
	
	nav{
		width:100%;
		max-width:100%;
		min-width:100%;
		min-height: 50px;
		/* Specifying the order so the nav appears as the first item in the flex container */
		-webkit-box-ordinal-group: 1;   /* OLD - iOS 6-, Safari 3.1-6 */
		-moz-box-ordinal-group: 1;      /* OLD - Firefox 19- */
		-ms-flex-order: 1;              /* TWEENER - IE 10 */
		-webkit-order: 1;               /* NEW - Chrome */
		order: 1;   
	}
	aside {
		width:100%;
		max-width:100%;
		min-width:100%;
		min-height: 50px;
		/* Specifying the order so the nav appears as the second item in the flex container */
		-webkit-box-ordinal-group: 3;   /* OLD - iOS 6-, Safari 3.1-6 */
		-moz-box-ordinal-group: 3;      /* OLD - Firefox 19- */
		-ms-flex-order: 3;              /* TWEENER - IE 10 */
		-webkit-order: 3;               /* NEW - Chrome */
		order: 3;  
	}		
	#content {
		/* Specifying the order so the nav appears as the third item in the flex container */
		width:100%;
		min-height: 725px;
		-webkit-box-ordinal-group: 2;   /* OLD - iOS 6-, Safari 3.1-6 */
		-moz-box-ordinal-group: 2;      /* OLD - Firefox 19- */
		-ms-flex-order: 2;              /* TWEENER - IE 10 */
		-webkit-order: 2;               /* NEW - Chrome */
		order: 2;  
	}
	footer {
		width:100%;
		max-width:100%;
		min-width:100%;
		min-height: 25px;
	}
}
